.body {
  position: fixed;
  margin: 0px;
  width: 100%;
}
html{
  scroll-behavior: smooth;
}
/* Navigation bar */
*{
  margin:0px;
  padding:0px;
  font-family:verdana;
}
#abc{
  width:100%;
  height:100vh;
  background-image: url(img2.jpg);
  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  background-color: #0005;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#088;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

/* Header */
.topleft {
  position: absolute;
  top: 200px;
  left: 16px;
}

.parallax h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
  text-align: left justify;
  padding-bottom: 5px;
}

.parallax p{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  text-align: left justify;
  color: white;
}

/* start scanning button */
.btn {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* About */
#myDIV {
  height:300px;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-auto-columns: 50%;
}
#myDIV div {
  text-align: center;
  padding: 20px 0;
}
.about { grid-area: 1 / 1 / 2 / 2; }
.auto-slideshow{ grid-area: 1 / 2 / 3 / 3;}

.section1 {
  background: url(bg_sec1.jpg);
  background-size: auto;
  background-position: center;
  margin-bottom: 0px;
  height: 90vw;
  width: fit-content;
}
.about h2{
  font-family: Garamond, serif;
  font-stretch: ultra-expanded;
  text-align: center;
  color: #212f1d;
  font-size: x-large;
  font-weight: 700;
  right: 0;
}
.about p{
    text-align: center;
    color: #212f1d;
    font-weight: 525;
}

/* slideshow */
.mySlides {
  display:none; 
  max-height: 15vw ; 
  padding-left: 15vw;
  padding-top: 2vw ;
}

/* Section 2 background */
.section2 {
  background: #D5CAB6;
  margin-top: 0px;
  padding-top: 10px;
  height: 500px;
}

/* see result button */
.btn1 {
  cursor: pointer;
  border: 1px solid white;
  background-color: #212F1D;
  height: 50px;
  width: 250px;
  color: white;
  font-weight: 300;
  font-size: 1em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  margin-left: 40%;
  margin-right: 50%;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-right: 25px;
}

.btn1:hover span:after {
  opacity: 1;
  right: 0;
}

/* Section 3 */
.section3 {
  background: #212F1D;
  margin-top: 0px;
  height: 850px;
}
/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #D5CAB6;
}

.img-container {
  position: relative;
  font-family: Arial;
}

.img-container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* image as button */
.img-container button{
  border-radius: 50%;
  border-color: #D5CAB6;
  padding: 8px 8px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 6px #999;
}

.img-container button:hover {background-color: #3e8e41}

.img-container button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* result section title */
.result h3 {
  font-family: Garamond, serif;
  font-stretch: ultra-expanded;
  text-align: center;
  color: #D5CAB6;
  font-size: x-large;
  font-weight: 700;
  padding-top: 10px;
  
}

/* Meet the team section */
html {
  box-sizing: border-box;
}
.card img {
  border-radius: 50%;
  border: 2px solid #000;
}
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
  display: table;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 #eaf8f0;
  background-color: white;
  height: 30vw;
}

.container {
  padding: 0 16px;
  display: table-cell;
}

.container h2{
  font-size: large;
  color: #555;
  font-weight: 600;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #555;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100px;
}

.button:hover {
  background-color: #555;
}

/* Scan section */
.scan-section h3{
  font-family: Garamond, serif;
  font-stretch: ultra-expanded;
  text-align: center;
  color: black;
  font-size: x-large;
  font-weight: 700;
}

.scan-section p{
  text-align: center;
  color: #DCDCDC;
}

/* parallax */
.parallax {
  /* The image used */
  background-image: url("https://wpcdn.us-midwest-1.vip.tn-cloud.net/www.charlottemagazine.com/content/uploads/data-import/46051717/02.05.15.heirloom.edibleflowers.clthg.0022.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("https://wallpapercave.com/wp/wp3157743.jpg");

  /* Set a specific height */
  min-height: 220px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("https://media.architecturaldigest.com/photos/616dd3e9b94938ca646d1d7c/16:9/w_2560%2Cc_limit/img050%2520copy.jpg");

  /* Set a specific height */
  min-height: 46.8vw; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 0px;
}
.team-header h2{
  text-align: center;
  font-family: Garamond, serif;
  font-stretch: ultra-expanded;
  text-align: center;
  text-decoration: overline underline;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
  color: white;
  font-size: xx-large;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
}

/* contact overlay */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* result overlay */
#overlayimg1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg4 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg9 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg10 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg11 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg12 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg13 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg14 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlayimg15 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text1{
  position: absolute;
  text-align: justify;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: #212f1d;
  background-color: #D5CAB6;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-family: 'Times New Roman', Times, serif;
}
/* PAGE CONTENT */
.content {padding:20px;}